/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/base.scss */
html {
  background: #7f8c8d;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  overflow: hidden;
}

/* line 26, ../sass/base.scss */
.csstransitions .menu {
  position: fixed;
  background: #7f8c8d;
  color: white;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: perspective(0) translate(0, 0);
  -moz-transform: perspective(0) translate(0, 0);
  -ms-transform: perspective(0) translate(0, 0);
  -o-transform: perspective(0) translate(0, 0);
  transform: perspective(0) translate(0, 0);
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  z-index: 1;
}
/* line 37, ../sass/base.scss */
.csstransitions .menu ul {
  margin: 0 0 0 50px;
}
/* line 40, ../sass/base.scss */
.csstransitions .menu ul li {
  font-size: 30px;
  line-height: 2em;
  cursor: pointer;
}
/* line 48, ../sass/base.scss */
.csstransitions .window {
  position: fixed;
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  -webkit-transform: perspective(0) translate(0, 0);
  -moz-transform: perspective(0) translate(0, 0);
  -ms-transform: perspective(0) translate(0, 0);
  -o-transform: perspective(0) translate(0, 0);
  transform: perspective(0) translate(0, 0);
  z-index: 2;
}
/* line 57, ../sass/base.scss */
.csstransitions .window header.window-header {
  background: #2c3e50;
  height: 60px;
  -webkit-transform: perspective(0) translate(0, 0);
  -moz-transform: perspective(0) translate(0, 0);
  -ms-transform: perspective(0) translate(0, 0);
  -o-transform: perspective(0) translate(0, 0);
  transform: perspective(0) translate(0, 0);
  font-size: 24px;
  line-height: 60px;
  color: #ecf0f1;
  width: 100%;
  text-align: center;
}
/* line 67, ../sass/base.scss */
.csstransitions .window header.window-header .button {
  height: 60px;
  width: 80px;
  color: white;
  text-align: center;
  line-height: 60px;
  padding: 0 10px;
  cursor: pointer;
}
/* line 77, ../sass/base.scss */
.csstransitions .window header.window-header .button.right {
  float: right;
}
/* line 81, ../sass/base.scss */
.csstransitions .window header.window-header .button.left {
  float: left;
}
/* line 85, ../sass/base.scss */
.csstransitions .window header.window-header .title {
  color: white;
  line-height: 60px;
  padding: 0 80px 0 0;
}
/* line 92, ../sass/base.scss */
.csstransitions .window footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ecf0f1;
  color: #2c3e50;
  text-align: center;
  min-height: 60px;
  font-size: 14px;
  line-height: 60px;
}
/* line 102, ../sass/base.scss */
.csstransitions .window footer a {
  color: #3498D8;
  text-decoration: none;
}
/* line 109, ../sass/base.scss */
.csstransitions .animate {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 118, ../sass/base.scss */
.no-csstransitions .menu {
  position: fixed;
  background: #7f8c8d;
  color: #ecf0f1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 60%;
  z-index: 1;
}
/* line 128, ../sass/base.scss */
.no-csstransitions .menu ul {
  margin: 0 0 0 50px;
}
/* line 131, ../sass/base.scss */
.no-csstransitions .menu ul li {
  font-size: 30px;
  line-height: 2em;
  cursor: pointer;
}
/* line 139, ../sass/base.scss */
.no-csstransitions .window {
  position: fixed;
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 30px, rgba(0, 0, 0, 0.7) 0 0 1px;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 149, ../sass/base.scss */
.no-csstransitions .window header.window-header {
  background: #2c3e50;
  height: 60px;
  top: 0;
  left: 0;
  line-height: 40px;
  color: white;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
/* line 160, ../sass/base.scss */
.no-csstransitions .window header.window-header .button {
  background: #3b5671;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
}
/* line 170, ../sass/base.scss */
.no-csstransitions .window header.window-header .button.right {
  float: right;
}
/* line 174, ../sass/base.scss */
.no-csstransitions .window header.window-header .button.left {
  float: left;
}
/* line 178, ../sass/base.scss */
.no-csstransitions .window header.window-header span.title {
  color: white;
  line-height: 40px;
}
/* line 183, ../sass/base.scss */
.no-csstransitions .window header.window-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ecf0f1;
  color: #2c3e50;
  text-align: center;
  min-height: 60px;
  font-size: 14px;
  line-height: 60px;
}
/* line 193, ../sass/base.scss */
.no-csstransitions .window header.window-header footer a {
  color: #3498D8;
  text-decoration: none;
}

/* ABOVE AND BEYOND
***************************************/
/* line 207, ../sass/base.scss */
.overflowscrolling .window-content {
  padding: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  text-align: justify;
  line-height: 1.5em;
}
/* line 215, ../sass/base.scss */
.overflowscrolling .window-content p {
  padding-bottom: 10px;
}

/* line 222, ../sass/base.scss */
.no-overflowscrolling .window-content {
  padding: 10px;
  overflow: scroll;
  height: 100%;
  text-align: justify;
  line-height: 1.5em;
}
/* line 229, ../sass/base.scss */
.no-overflowscrolling .window-content p {
  padding-bottom: 10px;
}
