/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$headerColor: #2c3e50;
$buttonColor: #3b5671;

$windowBackgroundColor: #f8f8f8;
$menuBackgroundColor: #7f8c8d;


html {
	background: $menuBackgroundColor;
	height: 100%;	
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
	overflow: hidden;								
}

.csstransitions {
	
	.menu {
		position: fixed;
		background: $menuBackgroundColor;
		color: white;
		opacity: 0;
		height: 100%;
		width: 100%;
		@include translate( 0, 0, 0);	
		@include scale( 0.6, 0.6);				
		z-index: 1;

		ul {
			margin: 0 0 0 50px;

			li {
				font-size: 30px;
				line-height: 2em;
				cursor: pointer;
			}					
		}
	}	

	.window {
		position: fixed;	
		background: $windowBackgroundColor;
		height: 100%;
		width: 100%;
		overflow: hidden;
		@include box-shadow(rgba(0,0,0,0.3) 0 1px 30px, rgba(0,0,0,0.7) 0 0 1px);		
		@include translate( 0, 0, 0);	
		z-index: 2;					

		header.window-header {
			background: $headerColor;
			height: 60px;
			@include translate( 0, 0, 0);	
			font-size: 24px;
			line-height: 60px;
			color: #ecf0f1;
			width: 100%;		
			text-align: center;	

			.button {
				height: 60px;
				width: 80px;
				color: white;
				text-align: center;
				line-height: 60px;	
				padding: 0 10px;		
				cursor: pointer;	
			}

			.button.right {
				float: right;
			}

			.button.left {
				float: left;
			}	

			.title {
				color: white;
				line-height: 60px;
				padding: 0 80px 0 0;								
			}			
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: #ecf0f1;
			color: #2c3e50;
			text-align: center;
			min-height: 60px;
			font-size: 14px;
			line-height: 60px;	
			a {
				color: #3498D8;
				text-decoration: none;
			}					
		}		
	}	

	.animate {
		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in); 
	}
}

.no-csstransitions {
	
	.menu {
		position: fixed;
		background: $menuBackgroundColor;
		color: #ecf0f1;
		height: 100%;
		width: 100%;
		top: 0;
		left: 60%;	
		z-index: 1;

		ul {
			margin: 0 0 0 50px;
			
			li {
				font-size: 30px;
				line-height: 2em;
				cursor: pointer;
			}					
		}
	}	

	.window {
		position: fixed;	
		background: $windowBackgroundColor;
		height: 100%;
		width: 100%;
		overflow: hidden;		
		@include box-shadow(rgba(0,0,0,0.3) 0 1px 30px, rgba(0,0,0,0.7) 0 0 1px);		
		top: 0;
		left: 0;	
		z-index: 2;					

		header.window-header {
			background: $headerColor;
			height: 60px;
			top: 0;
			left: 0;	
			line-height: 60px;
			color: white;
			width: 100%;		
			text-align: center;	
			text-transform: capitalize;																								

			.button {
				height: 60px;
				color: white;
				text-align: center;
				line-height: 60px;	
				padding: 0 10px;		
				cursor: pointer;	
			}

			.button.right {
				float: right;
			}

			.button.left {
				float: left;
			}	

			span.title {
				color: white;
				line-height: 60px;
			}	
			
			footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				background: #ecf0f1;
				color: #2c3e50;
				text-align: center;
				min-height: 60px;
				font-size: 14px;
				line-height: 60px;	
				a {
					color: #3498D8;
					text-decoration: none;
				}					
			}						
		}			
	}	
}


/* ABOVE AND BEYOND
***************************************/

.overflowscrolling {
	.window-content {
		padding: 10px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;	
		height: 100%;
		text-align: justify;
		line-height: 1.5em;

		p {
			padding-bottom: 10px;
		}
	}	
}

.no-overflowscrolling {
	.window-content {
		padding: 10px;		
		overflow: scroll;
		height: 100%;
		text-align: justify;		
		line-height: 1.5em;

		p {
			padding-bottom: 10px;
		}		
	}	
}		

