/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "variables.scss"; 
@import "fonts.scss"; 


html {
	background: $menuBackgroundColor;
	height: 100%;	
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
}
		.menu {
			position: fixed;
			background: $menuBackgroundColor;
			color: white;
			opacity: 0;
			height: 100%;
			width: 100%;
			@include translate( 0, 0, 0);	
			@include scale( 0.6, 0.6);				
			z-index: 1;

				ul {
					margin: 0 0 0 50px;
					li {
						font-size: 30px;
						line-height: 2em;
						cursor: pointer;
					}					
				}

		}	
		.window {
			position: fixed;			
			background: $windowBackgroundColor;
			height: 100%;
			width: 100%;
			@include box-shadow(rgba(0,0,0,0.3) 0 1px 30px, rgba(0,0,0,0.7) 0 0 1px);		
			@include translate( 0, 0, 0);	
			z-index: 2;					

			header.window-header {
				background: $headerColor;
				height: 40px;
				@include translate( 0, 0, 0);	
				line-height: 40px;
				color: white;
				width: 100%;		
				text-align: center;	
				text-transform: capitalize;																								

				.button {
					background: $buttonColor;
					height: 40px;
					color: white;
					text-align: center;
					line-height: 40px;	
					padding: 0 10px;		
					cursor: pointer;	
				}
				.button.right {
					float: right;
				}
				.button.left {
					float: left;
				}	
				span.title {
					color: white;
					line-height: 40px;
				}			
			}			
		}		

	.animate {
		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in); 
	}

	footer {

	}