extend layout

block styles
	//- link(rel='icon', type='image/png', href='images/favicon.png')
	link(rel='stylesheet', href='stylesheets/print.css', type='text/css')	
	link(rel='stylesheet', href='stylesheets/ie.css', type='text/css')		
	link(rel='stylesheet', href='stylesheets/screen.css', type='text/css')			

//- CONTENT

block header
	h1 Header
		
block body
	p Body

block footer
	h2 Footer

block scripts
	script(src='js/jquery-2.0.2.min.js')