extend layout

block styles
	//- link(rel='icon', type='image/png', href='images/favicon.png')	
	link(rel='stylesheet', href='css/base.css', type='text/css')			

block !js
	script(src='js/lib/modernizr.custom.06277.js')

//- CONTENT

block header
		
block body
	div.menu
		ul.menu-list
			li.home Home
			li.projects Projects
			li.portfolio Portfolio
			li.photos Photos	
			li.contact Contact

	div#home.window
		header.window-header
			.button.left.side-menu-button Menu
			.title nkProgressHUD
		.window-content 
			section.home Hit the Menu button to see nkSideMenu in action!
		footer 
			| Built by 
			a(class='button', href='http://twitter.com/naoufal') Naoufal Kadhom
			| , available on 
			a(class='button', href='https://github.com/naoufal/nkSideMenu') GitHub


//- <footer>
//-         Built by <a href="http://twitter.com/naoufal">Naoufal Kadhom</a>, available on <a href="https://github.com/naoufal/nkProgressHUD">GitHub</a>
//-     </footer>			



			
block footer
	h2 Footer

block scripts
	script(src='js/lib/jquery-1.10.2.min.js')
	script(src='js/lib/fastclick.js')
	script(src='js/position.min.js')
	script(src='js/animate.min.js')