!!!5
html.no-js
	head
		title nkSideMenu
		meta(http-equiv="content-type", content="charset=utf-8")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")	
		meta(name="apple-mobile-web-app-capable", content="yes")				

		//- Stylesheets
		block styles
		block !js
	body
		header
			block header
		block body

	block scripts
